@model IEnumerable<Post>
    @{
    ViewData["Title"] = "Dashboard : All posts ";
    Layout = "~/Views/Shared/_Admin.cshtml";

    }
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                @*<h1>All Post</h1>*@
                <div class="row">
                    @*<div class="col-md-4 offset-8">
                        <input id="input" class="form-control my-3" type="text" placeholder="Search Post...">
                    </div>*@
                    @* <table class="table table-borderd pt" id="postTable">
                        <thead>
                            <tr class="table-active">
                                <th>
                                    Title
                                </th>
                                <th>
                                    Categories
                                </th>
                                <th>
                                    Tags
                                </th>
                                <th>
                                    Author
                                </th>
                            </tr>
                        </thead>

                        <tbody id="table">
                            @foreach (var post in Model)
                            {
                            <tr style="height:85px">
                                <td class="action-table">
                                    @post.Name
                                    @if (User.IsInRole("Admin") || post.AppUser.UserName == User.Identity.Name)
                                    {
                                    <span class="action-link">
                                        <span class="text-danger dbtn" data-id="@post.Id"> Delete </span>|
                                        <a href="/posts/edit/@post.Id">Edit</a> |
                                        <a href="/posts/news/@post.Slug">View</a>
                                    </span>
                                    }
                                </td>

                                <td>
                                    @string.Join(", ", post.PostCategories.Select(p => p.Category.Name))
                                </td>

                                <td>
                                    @string.Join(", ", post.PostTags.Select(p => p.Tag.Name))
                                </td>
                                <td style=" display: flex; align-items: center;">
                                    @{
                                    var index = post.AppUser.UserName.IndexOf('@');

                                    var name = post.AppUser.UserName.ToString().Substring(0, index);
                                    }

                                    @if (post.AppUser.ProfileImg != null)
                                    {
                                    <a href="/posts/postbyauthor/@post.AppUser.Id">

                                        <img class="img-profile rounded-circle"
                                            style="object-fit:cover;width:60px !important;height:30px !important"
                                            src="~/uploads/@post.AppUser.ProfileImg" />
                                    </a>
                                    }@name
                                </td>

                            </tr>


                            }
                        </tbody>


                    </table> *@
<div class="ml-auto">
<div class="d-flex">
                    <input type="search" class="form-control" id="search" placeholder="Search..."> <button class="btn btn-primary" id="searchBtn" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></button>

</div>
</div>

                    <table id='ptable' class='display dataTable table'>
                        <thead>
                            <tr class="table-active">
                                <th>Name</th>
                                <th>Categories</th>
                                <th>Tags</th>
                                <th>Date</th>
                                <th>Author</th>

                            </tr>
                        </thead>
                        <tbody id="ptablbody" style="height: 70vh;">
                            <div id="load">
                                <img src="/uploads/loading.gif" alt="">
                            </div>
                        </tbody>

                    </table>
                    <div class="d-flex w-100 justify-content-end" id="pagination-admin">
                        <ul class="pagination pgn justify-content-center">
                        </ul>
                       <select id="showRows" class="form-control " style='width:10%'>
                                
                            </select>
                    </div>
                </div>
            </div>
        </div>

    </div>


    @* @(await Component.InvokeAsync<PagerViewComponent>(Model)) *@
