@model IEnumerable<Post>
@{
    ViewData["Title"] = ViewData["author"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row squareimage">
        <div class="col-md-12">

            <div class="cat-title">@ViewData["author"]</div>
        </div>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            if (i == 1)
            {
                <div class="col-md-12 mb-5">
                    <a href="/posts/news/@item.Slug">

                    <div class="card text-center">
                        @if (item.Picture == null)
                        {

                            <img style="height:500px" src="/uploads/five.jpg" />
                        }
                        else
                        {
                            <img style="height:500px" class="card-img-top" src="~/uploads/@item.Picture" alt="" />
                        }
                        <div class="card-body">
                            <h1>  @item.Name</h1>
                            <p>
                                @*@item.Content.Substring(0, 20)*@
                            </p>
                            <div class="time text-dark">
                                <i class="fas fa-clock"></i> @item.CreatedDate.ToString("dddd, dd MMMM yyyy")
                            </div>
                        </div>
                    </div>
                    </a>
                </div>

            }
            else
            {
                if (i % 2 == 0)
                {
                    <div class="col-md-12 mb-4">
                        <a href="/posts/news/@item.Slug">
                            <div class="media shadow-sm mb-4">
                                @if (item.Picture == null)
                                {

                                    <img class="card-img-top" src="/uploads/five.jpg" style="width:50%;object-fit:cover" />
                                }
                                else
                                {
                                    <img class="card-img-top" style="width:50%;object-fit:cover" src="~/uploads/@item.Picture" alt="" />
                                }
                                <div class="media-body ml-3">
                                    <h4>@item.Name</h4>
                                    <div class="time text-dark">
                                        <i class="fas fa-clock"></i> @item.CreatedDate.ToString("dddd, dd MMMM yyyy")
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-md-12 mb-4">
                        <a href="/posts/news/@item.Slug">
                            <div class="media shadow-sm mb-4">

                                <div class="media-body mr-3">
                                    <h4>@item.Name</h4>
                                    <div class="time text-dark">
                                        <i class="fas fa-clock"></i> @item.CreatedDate.ToString("dddd, dd MMMM yyyy")
                                    </div>
                                </div>
                                @if (item.Picture == null)
                                {

                                    <img class="card-img-top" src="/uploads/five.jpg" style="width:50%;object-fit:cover" />
                                }
                                else
                                {
                                    <img class="card-img-top" style="width:50%;object-fit:cover" src="~/uploads/@item.Picture" alt="" />
                                }
                            </div>
                        </a>
                    </div>
                }


            }

        }



    </div>
</div>
